[submodule "Desktop/Animation/UVU/Sophmore/Sophmore_FallSemester/Unity/SideScrollerPrototype/Assets/Tools"]
	path = Desktop/Animation/UVU/Sophmore/Sophmore_FallSemester/Unity/SideScrollerPrototype/Assets/Tools
	url = https://github.com/JoshRockwood/ArtisanDream.Tools.git
