[submodule "Desktop/Animation/UVU/Sophmore/Sophmore_FallSemester/Unity/SideScrollerPrototype/Assets"]
	path = Desktop/Animation/UVU/Sophmore/Sophmore_FallSemester/Unity/SideScrollerPrototype/Assets
	url = https://github.com/JoshRockwood/ArtisanDream.Tools.git
